* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #9c64ff;
  text-decoration: none;
  border-bottom: 1px solid #9c64ff;
  transition: color 0.2s, filter 0.2s, border-color 0.2s;
}

a:hover {
  color: #934ddd;
}

html {
  zoom: 0.9;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 18px;
}

header {
  padding: 2rem;
  min-height: 90px;
  font-size: 26px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

main {
  padding: 0 2rem;
  max-width: 100vw;
  overflow-x: hidden;
}

footer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.25rem;
  bottom: 0;
  width: 100%;
  height: 90px;
  padding: 2rem;
}

footer .name {
  font-size: 26px;
}

footer span {
  font-size: 14px;
  margin-left: 0.75rem;
  opacity: 0.7;
}

main>div {
  display: grid;
  grid-template-columns: 1fr 140px;
  min-height: 60px;
  align-items: center;
  width: 1024px;
}

.container {
  position: relative;
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
}

.fps-container {
  position: relative;
  transform: translate(4px, 13px);
}

.fps-container>div {
  height: 40px !important;
  border-radius: 6px;
}

.container span {
  font-size: 0.9rem;
}

.count-container>div {
  margin-top: 0.1rem;
}

.count-container a:last-of-type:not(.active) {
  pointer-events: none;
  opacity: 0.7;
  border-bottom: 1px solid transparent;
  filter: grayscale(1);
}

.container a {
  position: relative;
  display: inline-block;
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.3em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: #1a1a1a;
  border-color: #9c64ff;
  transition: border-color 0.2s, color 0.2s;
}

.container a.active {
  border-color: #fff !important;
  border-bottom-color: #fff !important;
}

.count-container a:last-of-type {
  border-color: transparent;
}

.container a::before {
  content: '';
  position: absolute;
}

.options-container {
  position: absolute;
  bottom: 0;
  right: 142px;
}

.active {
  color: white;
  pointer-events: none;
}

a.active {
  border-bottom: 1px solid transparent;
}

.particle {
  position: absolute;
  border: 1px solid white;
  border-radius: 50%;
}

.particle.fill {
  background-color: white;
  border: 1px solid black;
}

.particle.sprite {
  border: initial;
  border-radius: initial;
}

canvas,
.canvas {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 1024px;
  height: 480px;
  background-color: #1a1a1a;
  border-radius: 0.5rem;
  transform: translateZ(0);
  pointer-events: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #9c64ff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}